video {

}
.container {
    overflow:hidden;
    display:block;

    margin-top: -150px;
    width:100%;
    position: relative;
    z-index: -1;
    height: 800px;
}
body {
    margin: 0px;
    font-family: "Avenir LT Std", Arial, Helvetica, sans-serif;
    font-size: calc(1em + 1vw);
}
.menu {
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: linear-gradient(black, transparent);
    color:white;
    width:100%;
    height:90px;
}
li {
    list-style-type: none;
    display: inline;
}
@media only screen and (max-width: 1000px) {
    .container {
        margin-top:0px;
    }
}
li {
    float: right;
    padding-right:20px;
}
.logo {
    float: left;
}
.overlay {
    height: 100%;
    position: abo;
    position: absolute;
    height: 100%;
    background-color: #404e5c;
    z-index: 2;
    width: 100%;
    opacity: 80%;
    display:none;

}
h1 {
    
    font-family: "Varela";

}
h2 {
    margin-top:-30px;
    font-family: "Varela";
    padding:5px;
    font-size: calc(1em + .6vw);
    font-weight: normal;
    padding-left:20px;
    margin-bottom:-20px;
}
h4 {
    font-weight: normal;
    font-size: calc(1em + .2vw);
}
.header-content {
position: absolute;
text-align: left;
margin: 0;
display:block;
right:20px;
left:20px;
top:200px;
color:white;

}
.cta {
    display: block;
    position: relative;
    background-color:#4f6272;

    border:solid;
    border-color: white;


}
h3 {
    color: white;
    font-size: calc(1em + .4vw);
    padding-left:30px;
    font-weight: normal;
}
.flex-cont {
    display:flex;
    padding:3px;
    margin-top:-5px;
}
.card {
    width:33%;

    position: relative;
    margin:3px;
    text-align: center;
}
.card:hover {
    background: black;
    opacity: 80%;
    overflow:hidden;
}
.card > img:hover {
    background: black;
    transform: scale(1.5);
    opacity: 50%;
    overflow:hidden;
}
.card > img {
    width: 100%;
    margin: auto;
    align-items: center;
    display: flex;

}
.card > div {
    position: absolute;
    top:30px;
    color:white;
    left:0px;
    right:0px;
}